<h4>GCODE Override Settings</h4>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Feedrate Multiplier') }}</label>
        <div class="controls">
            <input type="number" class="input-mini text-right" data-bind="value: settings.plugins.gcode_override.feedrate_multiplier">
        </div>
    </div>
</form>
